/* Parte A: Estilos para los tableros */
.board {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    grid-template-rows: repeat(8, 40px);
    gap: 4px;
}

.board button {
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
}

/* Botón marcado */
button.marked {
    background-color: rgb(228, 173, 230);
}